.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
}
.botones {
    border: none;
    margin: 5px;
}
.botones:hover {
    background-color: gray;
    cursor: pointer;
}
.logoEmpresa {
    border-radius: 5px;
    height: 50px;
    width: 50px;
}