.itemCounter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0;
}
.itemCounter button {
    min-width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0;
    &:hover {
        cursor: pointer;
    }
}

.itemCounter button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.itemCounter span {
    min-width: 40px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.itemCounter button:last-child {
    background-color: #646cff;
    color: white;
    padding: 0.6em 1.2em;
    min-width: auto;
}

.itemCounter button:last-child:hover {
    background-color: #535bf2;
    border-color: #535bf2;
}