.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
    background-color: rgb(9, 9, 9);
    position: sticky;
    top: 0;
    z-index: 100;
}
.navBar a {
    text-decoration: none;
    color: #646cff;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
.navBar a:hover {
    background-color: rgba(100, 108, 255, 0.1);
    color: #535bf2;
}
.navBar img {
    border-radius: 50px;
    height: 50px;
    width: 50px;
}